@media (max-width: 1280px){
	.container{
		max-width: 832px;
	}
}

@media (max-width: 960px){
	.container{
		max-width: 736px;
	}
}

@media (max-width: 768px){
	.container{
		max-width: 640px;
	}
}

@media (max-width: 425px){
	.container{
		max-width: 425px;
	}

	.payment-wrapp .progress{
		margin-left: 20px;
		margin-right: 20px;
	}

	.payment-wrapp .content .info-payment-wrapp .title a.back{
		width: 30px;
		height: 30px;
	}

	.payment-wrapp .content .info-payment-wrapp .title a.back img{
		width: 9px;
	}

	.payment-wrapp .progress ul li{
		font-size: 13px;
	}

	.payment-wrapp .content{
		margin-left: 20px;
		margin-right: 20px;
	}

	.payment-wrapp .content .info-payment-wrapp .description-wrapp{
		flex-direction: column;
	}

	.payment-wrapp .content .info-payment-wrapp .description-wrapp .time-payment{
		margin-top: 16px;
	}

	footer{
		padding: 20px 0;
	}

	footer .container{
		flex-direction: column;
	}
}

@media (max-width: 375px){
	.container{
		max-width: 375px;
	}
}

@media (max-width: 320px){
	.container{
		max-width: 320px;
	}
}